/*All css for this project should be in this file only, not in the html file*/
h4{
  animation: moveright 3s 2s infinite ease-in-out alternate;
  -webkit-prefix: moveright 3s 2s infinite ease-in-out alternate;
}
@keyframes moveright {
  from {
    margin-left: 20%;
    color: blue;
  }
  to {
    margin-left: 60%;
    color: red;
  }
}
